@import "../_shared/colors";

.chatListItemWrapper {
  padding: 7px 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  cursor: pointer;
  &:hover {
    background-color: $hover-gray;
  }
}

.chatListItemImage {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
}

.chatListItemChatInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  height: 100%;
  padding: 5px 5px 5px 15px;
  font-size: 13px;
  color: #222;
  span:nth-child(1) {
    font-weight: bold;
  }
  span:nth-child(2) {
    overflow: hidden;
  }
}

.chatListItemActivityInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  width: 20%;
  height: 100%;
  text-align: right;
  color: $info-gray;
  font-size: 10px;
  padding: 1px;
  span:nth-child(2){
    background-color: #bfbfbf;
    border-radius: 11px;
    padding: 3px 6px;
    text-align: center;
    color: $text-white;
  }
}